In [1]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import numpy as np
import datetime as dt
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import streamlit as st

In [15]:
API_key = 'BGNKZDPGRQ7RCZ7L'
def get_data(symbol,end_date,start_date):
    ts = TimeSeries(key=API_key,output_format='pandas')
    data=ts.get_monthly_adjusted(symbol)[0]
    filtered_data = data.loc[end_date:start_date]
    return filtered_data

In [18]:
start = dt.datetime.today()-dt.timedelta(2 * 365)
end = dt.datetime.today()
df=get_data('JBLU',end,start)
df=df.reset_index()
df=df.sort_values(by='date')

In [19]:
df

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
24,2019-07-31,18.6900,19.8300,18.4800,19.23,19.23,88583575.0,0.0
23,2019-08-30,19.3300,19.7600,16.5300,17.32,17.32,84421330.0,0.0
22,2019-09-30,17.2200,17.5300,16.2500,16.75,16.75,103460741.0,0.0
21,2019-10-31,16.7900,19.6000,15.8700,19.30,19.30,132604507.0,0.0
20,2019-11-29,19.3500,19.9300,18.6000,19.27,19.27,66893157.0,0.0
19,2019-12-31,19.2600,19.4900,18.3950,18.72,18.72,87920793.0,0.0
18,2020-01-31,18.9000,21.1900,18.1000,19.83,19.83,137292473.0,0.0
17,2020-02-28,19.9800,21.6501,15.4200,15.78,15.78,106855740.0,0.0
16,2020-03-31,15.8200,16.1100,6.6100,8.95,8.95,370566701.0,0.0
15,2020-04-30,8.3000,10.3800,7.2200,9.74,9.74,307635318.0,0.0
14,2020-05-29,9.1600,11.8000,7.3400,10.07,10.07,339284073.0,0.0
13,2020-06-30,10.1445,15.6200,9.8900,10.90,10.90,497373309.0,0.0
12,2020-07-31,11.3200,11.5600,9.7200,10.34,10.34,258057638.0,0.0
11,2020-08-31,10.2400,12.3400,9.8100,11.52,11.52,194890648.0,0.0
10,2020-09-30,11.3400,13.2800,10.9300,11.33,11.33,175554157.0,0.0
9,2020-10-30,11.5100,13.5400,10.9500,11.97,11.97,209785073.0,0.0
8,2020-11-30,11.9700,16.1500,11.6800,15.09,15.09,177533935.0,0.0
7,2020-12-31,15.4585,16.3500,13.8600,14.54,14.54,247073535.0,0.0
6,2021-01-29,14.6500,16.0300,13.9400,14.34,14.34,165472340.0,0.0
5,2021-02-26,14.4200,19.8800,14.0500,18.43,18.43,177593117.0,0.0
4,2021-03-31,19.0600,21.7300,17.0000,20.34,20.34,230551701.0,0.0
3,2021-04-30,20.3153,21.9600,18.7700,20.36,20.36,155222832.0,0.0
2,2021-05-28,20.3646,20.8850,18.3200,20.10,20.10,115489906.0,0.0
1,2021-06-30,20.2700,20.5900,16.6200,16.78,16.78,157332784.0,0.0
0,2021-07-12,16.9200,17.3600,15.7151,16.50,16.50,48728196.0,0.0